<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="qa.edu.qu.cse.cmps497.implicitintentslave">

    <!-- DECLARE THE PERMISSION HERE-->
    <permission
        android:name="qa.edu.qu.cse.cmps497.implicitintentslave.DANGEROUS"
        android:protectionLevel="dangerous"
        android:description="@string/dangerous_perm_description"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- require the permission for MainActivity -->
        <activity
            android:name=".MainActivity"
            android:permission="qa.edu.qu.cse.cmps497.implicitintentslave.DANGEROUS">
            <!-- Launch from app drawer -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Launch from my other app -->
            <intent-filter>
                <action android:name="qa.edu.qu.cse.cmps497.implicitintentslave.ACTION_LAUNCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Handle phone calls ! -->
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tel" />
            </intent-filter>
        </activity>
    </application>

</manifest>
